/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -19px;
  animation: shift 0.5s ease-in-out infinite alternate;
}

@keyframes shift {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.sparks {
  opacity: 0;
}

.core,
.main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.core {
  transition-delay: 0.03s;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core,
.card__icon-button:active .core,
.like-icon.is-liked .core {
  transition-delay: 0s;
}

.card__icon-button:hover .main-body,
.card__icon-button:active .main-body,
.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.card__icon-button:hover .core,
.card__icon-button:hover .main-body {
  fill: var(--accent-color);
}

.card__icon-button:active .main-body,
.card__icon-button:active .core {
  fill: var(--background-icon-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--background-icon-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

@keyframes heart-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: spark 0.3s ease-in 0.3s;
}

@keyframes spark {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
