/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: Inter, sans-serif;
  --font-accent: PressStart2P, sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --accent-color: #000;
  --secondary-color: rgba(0, 0, 0, 0.5);
  --tertiary-color: #fff;
  --background-color: #fff;
  --overlay-color: #000;
  --background-icon-color: #ff0000;
  --text-shadow-color: rgba(255, 255, 255, 0.5);
  --stripe-1-color: #d3d3d3;
  --stripe-2-color: #e7e7e7;
  --stripe-3-color: #1a1a1a;
  --background-image: repeating-linear-gradient(
      to right,
      var(--stripe-1-color),
      var(--stripe-1-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--stripe-1-color),
      var(--stripe-1-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--stripe-2-color) 0.01%, var(--stripe-3-color));
  --content-block-width: clamp(375px, 50%, 700px);
  --border-style: 2px solid var(--accent-color);
}
